<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jrgun.el_luck_phant">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Break Even"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        // starting activity
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        // subsequent activities
        <activity android:name=".OnePlayActivity">
        </activity>

        <activity android:name=".FivePlayActivity">
        </activity>

        <activity android:name=".MainMenuActivity">
        </activity>

    </application>

</manifest>